:root {
    --green: rgb(87, 160, 132);
    --white: white;
    --blue: powderblue;
    --pink: pink;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--pink);
    margin: 0;
    color: var(--white);
}

main {
    display: flex;
    width: 100vw;
    background-image: url("../images/ocean-waves.jpg");
    height: 400px;
}

p {
    padding: 0.5em;
}

a {
    text-decoration: none;
    color: var(--white);
}

footer {
    padding: 0 20px;
    flex: 100%;
    justify-content: center;
    text-align: center;
    background-color: var(--blue);
    color: var(--white);
}

.main-header {
    padding: 0 20px;
    width: 100vw;
    justify-content: flex-start;
    text-align: left;
    background-color: var(--blue);
    color: var(--white);
}

.main-header .portfolio {
    color: var(--green);
}

.main-headaer > h1 {
    padding: 10px;
    flex: 1 0 100%;
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    font-size: 22px;
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 1rem;
    color: var(--white);
}

.navigation a:hover {
    text-decoration: underline;
    color: var(--green);
}

main div .welcome {
    height: 40px;
    width: 20vw;
    text-align: right;
    padding: 10px;
    background-color: var(--green);
}

.section {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin: 20px 50px;
    padding: 10px;
    background-color: var(--green);
    text-align: left;
    border: 10px solid var(--blue);
}

#title {
    display: inline-block;
    text-align: left;
    padding: 5px;
    margin: 10px 20px;
    border: dotted var(--white);
    border-width: 3px 0;
}

.projects {
    flex: 4;
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.projects a .card-one {
    border: 4px solid var(--pink);
    background-image: url("../images/sky.jpg");
    height: 400px;
    width: 80vw;
    margin: 20px;
    opacity: 75%;
} 

.projects a .card-one p{
    text-align: right;
    width: 17vw;
    background-color: var(--pink);
    font-size: 22px;
}

.projects a .card-one:hover {
    border: 7px solid var(--white);
    opacity: 100%;
    color: black;
}

.projects a .card-two {
    border: 4px solid var(--pink);
    background-image: url("../images/rock-beach.jpg");
    height: 200px;
    width: 20vw;
    margin: 20px;
    opacity: 75%;
}

.projects a .card-two p{
    text-align: right;
    width: 10vw;
    background-color: var(--pink);
    font-size: 22px;
}

.projects a .card-two:hover {
    border: 7px solid var(--white);
    opacity: 100%;
    color: black;
}

.projects a .card-three {
    border: 4px solid var(--pink);
    background-image: url("../images/ocean-wave-2.jpg");
    height: 200px;
    width: 20vw;
    margin: 20px;
    opacity: 75%;
}

.projects a .card-three p{
    text-align: right;
    width: 10vw;
    background-color: var(--pink);
    font-size: 22px;
}

.projects a .card-three:hover {
    border: 7px solid var(--white);
    opacity: 100%;
    color: black;
}

.projects a .card-four {
    border: 4px solid var(--pink);
    background-image: url("../images/ocean-sunset.jpg");
    height: 200px;
    width: 20vw;
    margin: 20px;
    opacity: 75%;
}

.projects a .card-four p{
    text-align: right;
    width: 10vw;
    background-color: var(--pink);
    font-size: 22px;
}

.projects a .card-four:hover {
    border: 7px solid var(--white);
    opacity: 100%;
    color: black;
}

.section ul li {
    font-size: 22px;
    display: inline-block;
    margin-left: 20px;
    padding: 40px;
    color: var(--white)
}

.section ul li a:hover {
    color: var(--pink)
}

@media all and (max-width: 850px) {
    .navigation {
        justify-content: space-around;
    }

    .projects {
        justify-content: space-around;
    }

    .section {
        justify-content: space-around;
    }
}

@media all and (max-width: 700px) {
    .navigation {
        flex-flow: column wrap;
        padding: 0;
    }

    .navigation a { 
        text-align: center; 
        padding: 10px;
        border-bottom: 1px solid var(--green); 
    }

    .section {
        flex-flow: column wrap;
        padding: 0;
    }

    .projects {
        flex-flow: column wrap;
        align-items: center;
        padding: 0px;
    }

    .section ul {
        flex-flow: column wrap;
        padding: 0;
      }
      
    .section ul li { 
        text-align: center; 
        padding: 10px;
        border-bottom: 1px solid var(--pink);
    }
}