:root {
    --green: rgb(87, 160, 132);
    --white: white;
    --lightgreen: rgb(169, 200, 188);
    --pink: rgb(255, 223, 241);
}

.light-green{
    background-color: var(--lightgreen)!important;
}

.light-pink{
    background-color: var(--pink)!important;
}

.green{
    color: var(--green)!important;
}